webapp/*
envexec/*
*.pyc
.idea/*
.idea/.gitignore
.idea/Dev_To_DevOps.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
tailwindtest/*
myprojectweb/*

webapp/package-lock.json
webapp/package.json
webapp/pages/_app.js
webapp/pages/index.js
webapp/styles/globals.css
webapp/styles/Home.module.css
webapp/package-lock.json
webapp/package.json
webapp/pages/_app.js
webapp/pages/index.js
webapp/styles/globals.css
webapp/styles/Home.module.css
